<div class="alert alert-info">
    <%if (!auth){%>
    {{ 'Please' | t}}
    <a href="/user/login">{{'sign in' | t}}</a>
    {{ 'or' | t}}
    <a href="/user/register">{{'register' | t}}</a>.
    <%}else{%>
    {{ 'Welcome back' | t}}, <%= auth.username %>.
    <%}%>
</div>