<div class="dataList" ng-controller="departmentController" ng-init="clientId = <%= JSON.stringify(clientId) %>; getDepartments();" >
    <div class="grid row-fluid span12" ng-grid="gridOptions"></div>
</div>