<form>
    <fieldset>
        <legend>{{ 'Login' | translate }}</legend>
        <label>{{ 'Email address' | translate }}</label>
        <input type="text" placeholder="{{'email...' | translate}}" />
        <label>{{ 'Password' | translate }}</label>
        <input type="password" placeholder="{{'password...' | translate}}"/>
        <button type="submit" class="btn">Login</button>
    </fieldset>
</form>