<form ng-controller="userController" ng-submit="login()">
    <div class="alert alert-error" ng-show="loginFailed">
        <strong>{{'Error' | t}}</strong> {{'Invalid credentials' | t}}
    </div>
    <fieldset>
        <legend>{{ 'Sign in' | t }}</legend>
        <label>{{ 'Username' | t }}</label>
        <input required type="text" ng-model="user.username" placeholder="{{'type your username...' | t}}" />
        <label>{{ 'Password' | t }}</label>
        <input type="password" required ng-model="user.password" placeholder="{{'password...' | t}}"/>
        <br />
        <button type="submit" class="btn">{{ 'Login' | t }}</button>
    </fieldset>
</form>