<h1 class="span3">{{{= settings.vars.appName }}}</h1>
<div class="navbar span9">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="active"><a href="/">{{{= 'Home' }}}</a></li>
            <li><a href="#">{{{= 'Support' }}}</a></li>
            <li><a href="#">{{{= 'About' }}}</a></li>
        </ul>
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {{{= 'Account' }}}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{{ if (!auth) { }}}
                    <li><a href="/user/login">{{{= 'Login' }}}</a></li>
                    <li><a href="/user/register">{{{= 'Register' }}}</a></li>
                {{{ }else{ }}}
                    <li><a href="/user/settings">{{{= 'Settings' }}}</a></li>
                    <li><a href="/auth/logout">{{{= 'Logout' }}}</a></li>
                {{{ } }}}
            </ul>
        </div>
    </div>
</div>