<h1 class="span3"><%= settings.vars.appName %></h1>
<div class="navbar span9">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="active"><a href="/">{{ 'Home' | t }}</a></li>
            <li><a href="#">{{ 'Support' | t }}</a></li>
            <li><a href="#">{{ 'About' | t }}</a></li>
        </ul>
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {{ 'Account' | t }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <%if (!auth) {%>
                <li><a href="/user/login">{{ 'Login' | t }}</a></li>
                <li><a href="/user/register">{{ 'Register' | t }}</a></li>
                <%}else{%>
                <li><a href="/user/settings">{{ 'Settings' | t }}</a></li>
                <li><a href="/auth/logout">{{ 'Logout' | t }}</a></li>
                <%}%>
            </ul>
        </div>
    </div>
</div>